.App-body {
  text-align: center;
  justify-content: center;
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin:auto
}

.App-logo {
  height: 30;
  pointer-events: none;
}


.elements {
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  margin: auto
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
